### GRADIEN DESCENT....
#### Example 1

In [14]:
import pandas as pd
import numpy as np

def deriv_beta0(beta0, beta1):
    return beta0 +4*beta1 - 2.758
def deriv_beta1(beta0, beta1):
    return beta0 +5*beta1 -3.223

In [15]:
guess_beta0=0
guess_beta1=1
epochs=10000
alpha=0.01
for i in range(epochs):
    guess_beta0 = guess_beta0 - alpha * deriv_beta0(guess_beta0, guess_beta1)
    guess_beta1 = guess_beta1 - alpha * deriv_beta1(guess_beta0, guess_beta1)
print("Beta 0 : ", guess_beta0, "beta 1: ", guess_beta1)

Beta 0 :  0.8979999646307111 beta 1:  0.46500000731441327

In [16]:
guess_beta0=0
guess_beta1=1
epochs=1000 #change no of iterations
alpha=0.1 #change in learning rate
for i in range(epochs):
    guess_beta0 = guess_beta0 - alpha * deriv_beta0(guess_beta0, guess_beta1)
    guess_beta1 = guess_beta1 - alpha * deriv_beta1(guess_beta0, guess_beta1)
print("Beta 0 : ", guess_beta0, "beta 1: ", guess_beta1)

Beta 0 :  0.8979999906147521 beta 1:  0.46500000191304053

In [17]:
guess_beta0=6
guess_beta1=9
#changed beta values starting guesses
epochs=10000
alpha=0.1
for i in range(epochs):
    guess_beta0 = guess_beta0 - alpha * deriv_beta0(guess_beta0, guess_beta1)
    guess_beta1 = guess_beta1 - alpha * deriv_beta1(guess_beta0, guess_beta1)
print("Beta 0 : ", guess_beta0, "beta 1: ", guess_beta1)

Beta 0 :  0.8979999999999967 beta 1:  0.4650000000000007

### TASK TO DO...
#### Advertising4D dataset

In [36]:

df1 = pd.read_csv("datasets/advertising4D.csv")
df1

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

### BATCH Gradient Descent

In [68]:
x1 = df1['TV']
x2 = df1['radio']
x3 = df1['newspaper']
y = df1['sales']

x1, x2, x3, y

(0      230.1
 1       44.5
 2       17.2
 3      151.5
 4      180.8
        ...
 195     38.2
 196     94.2
 197    177.0
 198    283.6
 199    232.1
 Name: TV, Length: 200, dtype: float64,
 0      37.8
 1      39.3
 2      45.9
 3      41.3
 4      10.8
        ...
 195     3.7
 196     4.9
 197     9.3
 198    42.0
 199     8.6
 Name: radio, Length: 200, dtype: float64,
 0      69.2
 1      45.1
 2      69.3
 3      58.5
 4      58.4
        ...
 195    13.8
 196     8.1
 197     6.4
 198    66.2
 199     8.7
 Name: newspaper, Length: 200, dtype: float64,
 0      22.1
 1      10.4
 2       9.3
 3      18.5
 4      12.9
        ...
 195     7.6
 196     9.7
 197    12.8
 198    25.5
 199    13.4
 Name: sales, Length: 200, dtype: float64)

In [37]:
x1 = df1['TV']
x2 = df1['radio']
x3 = df1['newspaper']
y = df1['sales']

#initializing betas...
b0, b1, b2, b3 = 0, 0, 0, 0

#initializing hyperparamets..
alpha = 0.01
epochs = 10000
n = df.shape[0]

#batch gradient code...
for i in range(epochs):
    yhat = b0 + b1*x1 + b2*x2 + b3*x3
    
    #calculating gradient of cost functio
    d_b0 = (-1/n) * sum((y - yhat))
    d_b1 = (-1/n) * sum(x1 * (y - yhat))
    d_b2 = (-1/n) * sum(x2 * (y - yhat))
    d_b3 = (-1/n) * sum(x3 * (y - yhat))
    
    #update betas
    b0 = b0 - alpha * d_b0
    b1 = b1 - alpha * d_b1
    b2 = b2 - alpha * d_b2
    b3 = b3 - alpha * d_b3
    
print("b0 :", b0, "b1 : ", b1, "b2 : ", b2, "b3 : ", b3)

b0 : nan b1 :  nan b2 :  nan b3 :  nan

### STOCHASTIC Gradient Descent

In [26]:
x1 = df.TV.values
x2 = df.radio.values
x3 = df.newspaper.values
y = df.sales.values

#initializing betas...
b0, b1, b2, b3 = 0, 0, 0, 0

#initializing hyperparamets..
alpha = 0.01
epochs = 10000
n = df.shape[0]

#batch gradient code...
for i in range(epochs):
    id_x = np.random.randint(0,n)
    x1_i, x2_i, x3_i, y_i = x1[id_x], x2[id_x], x3[id_x], y[id_x]
    yhat_i = b0 + b1*x1_i + b2*x2_i + b3*x3_i
    
    #calculating gradient of cost functio
    d_b0 = (-1) * (y_i - yhat_i)
    d_b1 = (-1) * (x1_i * (y_i - yhat_i))
    d_b2 = (-1) * (x2_i * (y_i - yhat_i))
    d_b3 = (-1) * (x3_i * (y_i - yhat_i))
    
    #update betas
    b0 = b0 - alpha * d_b0
    b1 = b1 - alpha * d_b1
    b2 = b2 - alpha * d_b2
    b3 = b3 - alpha * d_b3
    
print("b0 :", b0, "b1 : ", b1, "b2 : ", b2, "b3 : ", b3)

b0 : nan b1 :  nan b2 :  nan b3 :  nan

C:\Users\ASCC\AppData\Local\Temp\ipykernel_5672\3083590145.py:22: RuntimeWarning: overflow encountered in double_scalars
  d_b1 = (-1) * (x1_i * (y_i - yhat_i))
C:\Users\ASCC\AppData\Local\Temp\ipykernel_5672\3083590145.py:28: RuntimeWarning: invalid value encountered in double_scalars
  b1 = b1 - alpha * d_b1

### Mini Batch Graient Descent

In [28]:
x1 = df.TV.values
x2 = df.radio.values
x3 = df.newspaper.values
y = df.sales.values

#initializing betas...
b0, b1, b2, b3 = 0, 0, 0, 0

#initializing hyperparamets..
alpha = 0.01
epochs = 10000
batch_size = 50
n = df.shape[0]

#batch gradient code...
for i in range(epochs):
    random_indices = np.random.randint(n, size=batch_size)
    batch_x1 = x1[random_indices]
    batch_x2 = x2[random_indices]
    batch_x3 = x3[random_indices]
    batch_y =  y[random_indices]
    batch_yhat = b0 + b1*batch_x1 + b2*batch_x2 + b3*batch_x3
    
    #calculating gradient of cost functio
    d_b0 = (-1/batch_size) * sum((batch_y - batch_yhat))
    d_b1 = (-1/batch_size) * sum(batch_x1 * (batch_y - batch_yhat))
    d_b2 = (-1/batch_size) * sum(batch_x2 * (batch_y - batch_yhat))
    d_b3 = (-1/batch_size) * sum(batch_x3 * (batch_y - batch_yhat))
    
    #update betas
    b0 = b0 - alpha * d_b0
    b1 = b1 - alpha * d_b1
    b2 = b2 - alpha * d_b2
    b3 = b3 - alpha * d_b3
    
print("b0 :", b0, "b1 : ", b1, "b2 : ", b2, "b3 : ", b3)

C:\Users\ASCC\AppData\Local\Temp\ipykernel_5672\1020811351.py:26: RuntimeWarning: overflow encountered in double_scalars
  d_b1 = (-1/batch_size) * sum(batch_x1 * (batch_y - batch_yhat))
C:\Users\ASCC\AppData\Local\Temp\ipykernel_5672\1020811351.py:32: RuntimeWarning: invalid value encountered in double_scalars
  b1 = b1 - alpha * d_b1

b0 : nan b1 :  nan b2 :  nan b3 :  nan

### SGDRegressor..

In [48]:
from sklearn.linear_model import SGDRegressor
X = df1.drop("sales", axis=1)
y = df1['sales']

model = SGDRegressor(loss='squared_error', penalty='elasticnet', learning_rate='constant', alpha=0.001)
model.fit(X,y)

print("Beta0 = {:.5f}".format(model.intercept_[0]))
print("Beta1 = {:.5f}".format(model.coef_[0]))
print("Beta2 = {:.5f}".format(model.coef_[1]))
print("Beta3 = {:.5f}".format(model.coef_[2]))

Beta0 = 354024955846.36310
Beta1 = -1161763037676.32666
Beta2 = -396957844825.58386
Beta3 = -1198989497260.18921

In [46]:
from sklearn.linear_model import LinearRegression
y = np.array(df1['sales'])
X = np.array(df1.drop(columns=['sales'], axis=1))
model = LinearRegression().fit(X, y)
print("Beta0 = {:.5f}".format(model.intercept_))
print("Beta1 = {:.5f}".format(model.coef_[0]))
print("Beta2 = {:.5f}".format(model.coef_[1]))
print("Beta3 = {:.5f}".format(model.coef_[2]))

Beta0 = 2.93889
Beta1 = 0.04576
Beta2 = 0.18853
Beta3 = -0.00104

## Anscombe...

In [54]:
import seaborn as sns
ans =sns.load_dataset("anscombe")

### Batch Gradient Descent

In [61]:
x = ans.x.values
y = ans.y.values

#initializing betas...
b0, b1 =  0, 0

#initializing hyperparamets..
alpha = 0.01
epochs = 10000
n = ans.shape[0]

#batch gradient code...
for i in range(epochs):
    yhat = b0 + b1*x
    
    #calculating gradient of cost functio
    d_b0 = (-1/n) * sum((y - yhat))
    d_b1 = (-1/n) * sum(x * (y - yhat))
    
    #update betas
    b0 = b0 - alpha * d_b0
    b1 = b1 - alpha * d_b1
    
print("b0 :", b0, "b1 : ", b1)

b0 : 3.0012954545452506 b1 :  0.4999318181818384

### Mini Batch

In [57]:
x = ans.x.values
y = ans.y.values

#initializing betas...
b0, b1 =  0, 0

#initializing hyperparamets..
alpha = 0.01
epochs = 10000
n = ans.shape[0]

#batch gradient code...
for i in range(epochs):
    id_x = np.random.randint(0,n)
    x_i, y_i = x[id_x], y[id_x]
    yhat_i = b0 + b1*x_i
    
    #calculating gradient of cost functio
    d_b0 = (-1) * (y_i - yhat_i)
    d_b1 = (-1) * (x_i * (y_i - yhat_i))
    
    #update betas
    b0 = b0 - alpha * d_b0
    b1 = b1 - alpha * d_b1
    
print("b0 :", b0, "b1 : ", b1)

b0 : 2.9313647958222924 b1 :  0.5947187805242755

### Mini Batch

In [59]:
x = ans.x.values
y = ans.y.values

#initializing betas...
b0, b1 =  0, 0

#initializing hyperparamets..
alpha = 0.01
epochs = 10000
batch_size = 11
n = ans.shape[0]

#batch gradient code...
for i in range(epochs):
    random_indices = np.random.randint(n, size=batch_size)
    batch_x = x[random_indices]
    batch_y = y[random_indices]
    batch_yhat = b0 + b1*batch_x 
    
    #calculating gradient of cost functio
    d_b0 = (-1/batch_size) * sum((batch_y - batch_yhat))
    d_b1 = (-1/batch_size) * sum(batch_x * (batch_y - batch_yhat))
    
    #update betas
    b0 = b0 - alpha * d_b0
    b1 = b1 - alpha * d_b1
    
print("b0 :", b0, "b1 : ", b1)

b0 : 3.0300285874982555 b1 :  0.5789241198502663

### Random Sample of Anscome

In [66]:
rans = ans.sample(11)
rans

   dataset     x      y
16      II  14.0   8.10
24     III  13.0  12.74
27     III  14.0   8.84
42      IV   8.0   7.91
3        I   9.0   8.81
8        I  12.0  10.84
0        I  10.0   8.04
6        I   6.0   7.24
41      IV   8.0   5.56
17      II   6.0   6.13
28     III   6.0   6.08

In [67]:
x = rans.x.values
y = rans.y.values

#initializing betas...
b0, b1 =  0, 0

#initializing hyperparamets..
alpha = 0.01
epochs = 10000
n = rans.shape[0]

#batch gradient code...
for i in range(epochs):
    yhat = b0 + b1*x
    
    #calculating gradient of cost functio
    d_b0 = (-1/n) * sum((y - yhat))
    d_b1 = (-1/n) * sum(x * (y - yhat))
    
    #update betas
    b0 = b0 - alpha * d_b0
    b1 = b1 - alpha * d_b1
    
print("b0 :", b0, "b1 : ", b1)

b0 : 3.708647605832801 b1 :  0.46692816417350025