In [1]:
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import time
import os

## Graana.com

In [22]:
s = Service('/Users/ASCC/chromedriver-win64/chromedriver.exe')
driver = Chrome(service=s)
driver.maximize_window()
driver.get('https://www.graana.com/sale/house-sale-lahore-2/')
time.sleep(10)


Addresses=[]
Bedrooms=[]
Bathrooms=[]
Area=[]
Prices=[]
a=2

def Houses():
    time.sleep(2)
    House = driver.find_elements(By.CLASS_NAME, 'mui-style-zf9afz')
    House_count = len(House)
    for i in range(1, House_count+1):
        Add = driver.find_element(By.XPATH, '//*[@id="__next"]/div[3]/div[4]/div['+str(i)+']/a/div/h5').text
        Addresses.append(Add)
        bedroom = driver.find_element(By.XPATH, '//*[@id="__next"]/div[3]/div[4]/div['+str(i)+']/a/div/div[2]/div[1]/div[2]').text
        Bedrooms.append(bedroom)
        bathroom = driver.find_element(By.XPATH, '//*[@id="__next"]/div[3]/div[4]/div['+str(i)+']/a/div/div[2]/div[2]/div[2]').text
        Bathrooms.append(bathroom)
        area = driver.find_element(By.XPATH, '//*[@id="__next"]/div[3]/div[4]/div['+str(i)+']/a/div/div[2]/div[3]/div[2]').text
        Area.append(area)
        price = driver.find_element(By.XPATH, '//*[@id="__next"]/div[3]/div[4]/div['+str(i)+']/a/div/div[1]/div[1]/div[2]').text
        Prices.append(price)
        
while(True):
    time.sleep(10)
    Houses()
    try:
        driver.find_element(By.XPATH, '//div[contains(text(),"Next")]')
        try:
            if(a<=21):
                driver.find_element(By.XPATH, '//div[contains(text(),"Next")]').click()
                time.sleep(10)
                a=a+1
            else:
                break
        except:
            break
    except:
        break
        
data = {
    "Address":Addresses,
    "Bedroom": Bedrooms,
    "Bathroom": Bathrooms,
    "Area":Area,
    "Price":Prices
}
df = pd.DataFrame(data=data, columns=["Address", "Bedroom", "Bathroom", "Area", "Price"])
df.to_csv("House_Prices.csv", index=False)
df = pd.read_csv("House_Prices.csv")
df

,Address,Bedroom,Bathroom,Area,Price
0,"Central Park Housing Scheme, Lahore",3,4,845 Sqft,1.45 crore
1,"DHA Rahbar, Lahore",3,4,5 Marla,2.1 crore
2,"DHA Phase 6, Lahore",5,5,1 Kanal,11.5 crore
3,"DHA Phase 7, Lahore",5,4,20 Marla,9 crore
4,"DHA Town Phase 9, Lahore",3,4,5 Marla,1.5 crore
...,...,...,...,...,...
145,"Tariq Garden - H Block, Lahore",4,5,10 Marla,4.2 crore
146,"Tariq Garden - H Block, Lahore",4,5,10 Marla,4.18 crore
147,"Tariq Garden - H Block, Lahore",4,5,10 Marla,4.1 crore
148,"Tariq Garden - H Block, Lahore",4,5,10 Marla,4.15 crore
149,"Tariq Garden - H Block, Lahore",4,5,10 Marla,4.14 crore

In [3]:
driver.quit()